.formClass {
    float: left;
    text-align: center;
    background: mediumaquamarine;
    position: absolute;
    margin-top: 11%;
    margin-left: 28%;
    margin-right: 35%;
    width: 37%;
    height: fit-content;
    border: 10px solid darkgreen;
    outline: 8px solid green;
}

label {
    display: block;
    margin: .5em 0 0 0;
}

#formSearch {
    position: absolute;
    padding-left: 8%;
}

#contactUsForm {
    float: right;
    padding: 3%;
}

#showRegisterForm {
    height: 60%;
}